body{ 
  background-color: #fffcf2;
  padding: 10px 10px;
}

body{
  font-family:"Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

a{color: #fffcf2;}
h2{color: aliceblue;}

header{ background-color: #252422;
  margin: 0px 5px;
  padding: 30px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.navigation a{text-decoration: none;
}

button{
  width: 120px;
  border-radius: 10px;
  padding: 5px;
  background-color: #252422;
  color: #fffcf2;
}

img{ 
  border-radius: 500px;
  border: 15px solid orangered;
  height: 290px;
  width: 290px;
}

iframe{
  border-radius: 60px;
  height: 350px;
  width: 380px;
}

#Main{
  color: #252422;
  margin: 0px 5px;
  padding: 30px;
  text-align: center;
  background-color: #ccc5b9;
}

#About{
  color: rgb(0, 0, 0);
  margin: 0px 5px;
  padding: 30px;
  text-align: center;
  background-color:  #ccc5b9;
}

#Work{
color: rgb(0, 0, 0);
  padding: 30px;
  margin: 7px;
  text-align: center;
  background-color: #ccc5b9;
}

#Work{
  align-items: center;
  display: block;
  justify-content: center;
}

.boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#box1{
height: 200px;
width: 200px;
background-color: #93afaf;
border-radius: 30px;
}
#box2{
height: 200px;
width: 200px;
background-color: #93afaf;
border-radius: 30px;
}
#box3{
height: 200px;
width: 200px;
background-color: #93afaf;
border-radius: 30px;
}
#box4{
height: 200px;
width: 200px;
background-color: #93afaf;
border-radius: 30px;
}

.resume{
  color: rgb(0, 0, 0);
    padding: 30px;
    margin: 7px;
    text-align: center;
    background-color: #ccc5b9;
  }

#CONTACT{
  color: rgb(0, 0, 0);
  text-align: center;
}

#Emailform{
  padding: 50px;
  margin: 5px;
  background-color: #ccc5b9;
}


form{
  text-align: center;
color: #000000;
}

footer{
  background-color: #eb5e28;
  margin: 12px;
  padding: 30px;
  text-align: center;
}

#footer {
  margin: 0px 5px;
  padding: 30px;
}

